<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<h1>This is home page. Hello <%= user_name %></h1>
	<a href="/profile">Profile</a><br>
	<textarea style="width: 300px; height: 100px; padding: 10px" type="post" name="post" placeholder="Add your post..."></textarea><br>
	<button id="addPost">Add Status</button>
	<button id="fetch">Fetch Status</button><br>
	<ul id="list"></ul>
	<a href="/logout">Log out</a>
	<script type="text/javascript" src="/home.js"></script>
</body>
</html>