<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
</head>
<body>
	<h1>Login Page</h1>
	<input type="email" name="email" placeholder="Input your email...">
	<input type="password" name="password" placeholder="Input your password...">
	<input type="button" name="login" value="Log in">
	<input type="button" name="register" value="register">
	<div id="status"></div>
	<script type="text/javascript" src="/index.js"></script>
</body>
</html>