<!DOCTYPE html>
<html>
<head>
	<title>Register Page</title>
</head>
<body>
	<h1>Register Page</h1>
	<input type="text" name="username" placeholder="Input username...">
	<input type="email" name="email" placeholder="Input email...">
	<input type="password" name="password" placeholder="Input password...">
	<input type="button" name="register" value="Register">
	<div id="status"></div>
	<script type="text/javascript" src="/register.js"></script>
</body>
</html>