<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<h1>Login</h1>
	<input type="text" name="username" placeholder="Input your username...">
	<input type="password" name="password" placeholder="Input your password">
	<input type="button" name="login" value="login">
	<input type="button" name="register" value="register">
	<script type="text/javascript" src="/index.js"></script>
</body>
</html>